.saves {
  font-size: 12px;
  padding: 0 !important;
}

.prof {
  width: 15%;
  text-align: center;
}

.save {
  width: 65%;
  min-width: 80px;
  border-bottom: 1px solid lightgrey;
}

.bonus {
  width: 15%;
  border-bottom: 1px solid lightgrey;
  text-align: right;
}

.inline {
  display: inline-block;
}

.save-header {
  font-size: 10px;
  color: grey;
}
