.skills {
  font-size: 12px;
  padding: 0 10px !important;
  margin: 0 !important;
}

.prof {
  width: 70px;
  text-align: center;
}

.mod {
  width: 40px;
}

.skill {
  width: 100px;
}

.bonus {
  width: 50px;
  text-align: right;
}

.inline {
  display: inline-block;
}

i {
  margin: 0 !important;
}

.temp {
  margin-bottom: -6px;
  text-align: center;
  font-size: 9px;
}

.profLabel {
  margin: 0 3.2px;
}

.border {
  margin: 5px !important;
  padding: 0 5px !important;
  text-align: center;
  font-weight: bold;
}
