.skills {
  font-size: 12px;
  padding: 0 !important;
}

.prof {
  width: 30%;
  text-align: center;
}

.mod {
  width: 10%;
  border-bottom: 1px solid lightgrey;
}

.skill {
  width: 25%;
  min-width: 80px;
  border-bottom: 1px solid lightgrey;
}

.bonus {
  width: 15%;
  border-bottom: 1px solid lightgrey;
  text-align: right;
}

.inline {
  display: inline-block;
}

.skill-header {
  font-size: 10px;
  color: grey;
}
