.page-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  border-bottom: solid 1px lightgrey;
}

#root {
  height: 100%;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 150px;
  padding: 30px 50px;
}

.tiles div {
  text-align: center;
  font-weight: bold;
  margin: 15px !important;
  padding: 15px 40px !important;
}

.header-link {
  padding: 0 20px;
  border-left: 1px solid lightgrey;
  display: inline-block;
}

.menu-item {
  display: inline-block;
  color: black;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.header-main {
  min-width: 500px;
  width: 25%;
  text-align: center;
}

.login {
  float: right;
  padding-right: 40px;
}

.inner-tile {
  text-align: center;
  font-weight: bold;
  margin: 0 !important;
  padding: 15px 40px !important;
}

.tile {
  padding: 50px;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.box .row.header {
  flex: 0 1 40px;
  padding: 10px 0;
  border: 1px solid lightgrey;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .column.left {
  flex: 0 0;
  height: 100%;
  min-width: 500px;
  width: 25%;
  border-right: 1px solid lightgrey;
  padding: 10px;
}

.tall {
  height: 100%;
}
